{% extends "base.html" %}

{% block content %}
    {{ super() }}

    {% if dio_akcije %}
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <main role="main" class="inner cover">
            <h3 class="cover-heading">Već ste dio jedne akcije</h1>
           
        </main>
      </div>
    
    {% elif not data_display %}
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <main role="main" class="inner cover">
            <h3 class="cover-heading">Nema aktivnih zahtjeva</h1>
           
        </main>
      </div>

    {% else %}
      <table class="table">
          <thead>
              <tr>
              {% for col in ['ID Zahtjeva', 'Naziv Akcije', 'Hitnost', 'Opis Akcije', 'Datum'] %}
                  <th scope="col">{{col}}</th>
              {% endfor %}
              <th style="text-align:center" scope="col"> Prihvati zahtjev </th>
              </tr>
          </thead>
          <tbody>
              {% for data in data_display %}
                  <tr>
                      <td>{{data.idZahtjeva}}</td>
                      <td>{{data.naziv}}</td>
                      <td>{{data.hitnost}}</td>
                      <td>{{data.opis}}</td>
                      <td>{{data.datum}}</td>
                      <td style="text-align:center">
                          <form action="{{url_for('act_request.accept_request')}}" method="POST">
                          <button type="submit" class="btn btn-success" name="accept" value="{{data.idAkcija}}">Prihvati</button>
                          <input type="hidden" name="id_zahtjev" value="{{data.idZahtjeva}}">
                          </form>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
      {% for category, message in messages %}
      {% if category =="error" %}
        <div class="alert alert-danger alert-dismissable" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}