{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <table class="table">
        <thead>
            <tr>
            {% for col in ['ID', 'Korisnicko ime', 'Ime', 'Prezime', 'Sifra stanice', 'Ukloni'] %}
                <th scope="col">{{col}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for spasioc, korisnik in spasioci %}
                <tr>
                    <td>{{spasioc.idSpasioc}}</td>
                    <td>{{korisnik.korisnickoIme}}</td>
					<td>{{korisnik.ime}}</td>
					<td>{{korisnik.prezime}}</td>
					<td>{{spasioc.sifStanice}}</td>
					<td>
						<button type="button" class="btn btn-danger" onclick="location.href='/actions/spasioci/{{spasioc.idAkcije}}/{{spasioc.idSpasioc}}';" {% if spasioc.idAkcije==None %}disabled{% endif %}>Ukloni</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
