{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="row" style="margin-top:20vh; margin-left:5vw;">
<div class="col-md-4 col-sm-4 col-xs-12"></div>
<div class="border rounded shadow w-25">
<form method="POST" enctype="multipart/form-data">
{{ form.csrf_token }}
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3">
            {{ form.naziv.label(class="form-label")}}
            {{ form.naziv(class="form-control") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3">
            {{ form.opis.label(class="form-label") }}
            {{ form.opis(class="form-control") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3">
            {{ form.slika.label()}}
            {{ form.slika(class="form-control-file") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </div>
  </div>
  <div class="form-text text-center text-danger">
		{% if error %}
            {{ error }}
        {% endif %}
    </div>
</form>
</div>
</div>

{% endblock %}
