{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <table class="table">
        <thead>
            <tr>
            {% for col in ['ID', 'Dispatcher ID', 'Naziv', 'Datum', 'Gotova?', 'Spasioci', 'Detalji', 'Stvori novi zahtjev', 'Završi'] %}
                <th scope="col">{{col}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
                <tr>
                    <td>{{action.id}}</td>
                    <td>{{action.idDispatcher}}</td>
                    <td>{{action.naziv}}</td>
                    <td>{{action.datum}}</td>
                    <td>{{action.gotova}}</td>
					<td>
                        <button type="button" class="btn btn-primary" onclick="location.href='/actions/spasioci/{{action.id}}';">Spasioci</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="location.href='/kartaAkcije/{{action.id}}';">Detalji</button>
                    </td>
					<td>
                        <button type="button" class="btn btn-primary" onclick="location.href='/actions/{{action.id}}/newZahtjev';">Stvori zahtjev</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="location.href='/actions/finish/{{action.id}}';" {% if action.gotova %}disabled{% endif %}>Završi</button>
                    </td>
                </tr>
            {% endfor %}
            {% if session.get("role") == "112 Dispatcher" or session.get("role") == "Administrator" %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
					<td></td>
					<td></td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="location.href='/actions/new';">Nova akcija</button>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
