{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="d-flex justify-content-center">
    <div class="h-75 w-25" style="margin-top:25vh">
        <div class="pt-3 col-md-10 col-sm-8 col-xs-12 border rounded shadow">
            <h4>Add new rescuer</h4>
            <form method="POST" enctype = "multipart/form-data" class="m-3">
                {{ form.csrf_token }}
                <div class="row pt-3">
                    {% if error %}
                    {{ form.Rescuers.label()}}
                    {{ form.Rescuers(class="form-control selectpicker", disabled="True")}}
                        {% else %}
                        {{ form.Rescuers.label()}}
                        {{ form.Rescuers(class="form-control selectpicker")}}
                    {% endif %}
                </div>
                <div class="col-md-11 col-sm-4 col-xs-12 p-0 pt-4">
                    {% if error %}
                    {{ form.submit(class="btn btn-primary w-100 ml-2", disabled="True") }}
                    {% else %}
                    {{ form.submit(class="btn btn-primary w-100 ml-2")}}
                    {% endif %}
                </div>
                <div class="form-text text-center text-danger">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}