<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Halo112</title>
        {% endblock %}
    </head>
    <body style="overflow: overflow-x">
        {% with role=session["role"] %}
         {% with idStanice=session["idStanice"] %}
            {% include 'navbar.html.j2' %}
            {% endwith %}
        {% endwith %}

        {% block content %}{% endblock %}
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
