{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="jumbotron" style="background-image: url(static/landing_bg.jpg); background-size: 100%; color: white; text-shadow: 2px 2px #00000062; padding-top: 7%; padding-bottom: 8%;">
    <h1 class="display-3">Halo112</h1>
    <p class="h4">Halo112 je aplikacija koja olakšava koordinaciju rada svih službi za pomoć.</p>
    <p class="pt-3">
        {% if not role %}
            <a class="btn btn-lg btn-success mr-2" href="{{ url_for('auth.login')}}">Login</a>
            <a class="btn btn-lg btn-success" href="{{ url_for('auth.register')}}">Register</a>
        {% endif %}
    </p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Definicija stanica</h4>
            <p>Aplikacija podržava definiciju stanica. Svaka stanica sadrži spasioce, i ima svog voditelja.</p>

            <h4>Definicija sposobnosti</h4>
            <p>Svaki spasioc može biti osposobljen za neku vrstu rada.</p>

            <h4>Akcije</h4>
            <p>112 Dispatcher može stvoriti akciju i pozvati spasioce da u njoj prisustvuju.</p>

            <h4>Definicija zadataka</h4>
            <p>U trenutnoj aktivnoj akciji 112 Dispatcher može davati direktne upute spasiocima preko karte.</p>

            <h4>Prikaz karte</h4>
            <p>Koristi se OpenStreetMap servis za detaljan prikaz karte. Na njoj se mogu ostavljati komentari, zadavati rute do neke točke i prikazati spasioce.</p>
        </div>

        <div class="col-lg-6">

            <h4>Izračun ruta</h4>
            <p>Aplikacija koristi OSRM servis za precizan izračun ruta. Spasioci mogu vidjeti točan put prema svom zadatku.</p>
            <div class="jumbotron" style="background-image: url(static/route.png); background-size: 100%; padding-top: 50%; background-repeat: no-repeat; width: 93%;"></div>

        </div>
    </div>

    <footer class="footer">
    <p>© samopython 2022</p>
    </footer>

</div>

{% endblock %}
