{% block styles %}
            {{ bootstrap.load_css() }}
{% endblock %}

<div class="container-fluid">
      <div class="row h-100">
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 border rounded shadow">
            <form method="POST">
              <div class="mb-3 pt-2">
                {{ form.komentar.label(class="form-label")}}
                {{ form.komentar(class="form-control")}}
              </div>
              <div class="mb-3 form-check"></div>
              {{ form.submit(class="btn btn-success", value="Spremi") }}
                <button type="button" class="btn btn-primary"
                        onclick="location.href='/kartaAkcije/{{idAkcije}}/dodajNoviZadatak/{{ lat }}/{{ lon }}';">Dodaj novi zadatak</button>

              <div class="form-text text-center text-danger">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </form>
            <div class="mb-3 pt-2">

            </div>
        </div>

        <div class="col-md-4 col-sm4 col-xs-12">
        <div class="row"></div>