{% extends "base.html" %}


{% block content %}
    {{ super() }}
    {{ form.csrf_token }}
    <div class="container-fluid">
      <div class="row h-75" style="margin-top:20vh">
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 border rounded shadow">
            <form method="POST">
              <div class="mb-3 pt-2">
                {{ form.username.label(class="form-label")}}
                {{ form.username(class="form-control")}}
              <div class="mb-3">
                {{ form.password.label(class="form-label")}}
                {{ form.password(class="form-control")}}
              </div>
              <div class="mb-3 form-check"></div>
              {{ form.submit(class="btn btn-primary btn-block") }}
              <div class="form-text text-center text-danger">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm4 col-xs-12">
        <div class="row"></div>
{% endblock %}