<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Halo112</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Univerzalne opcije za ulogirane korisnike -->
            {% if role %}
                {% for name, link in [("Home", "views.home_page"), ("Users", "users.view_users")]%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for(link)}}">{{ name }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            <!-- Dodatne opcije za određen role -->
            {% if role == "Administrator" %}

                {% for name, link in [("Applications", "applications.view_applications"), ("Create Station", "views.createStation"), ("View stations", "views.viewStations"),("Actions", "actions.view_actions"), ("Map", "view.viewmap")]%}
                    <li class="nav-item">
                            <a class="nav-link" href="{{ url_for(link)}}">{{ name }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            <!-- Dodatne opcije za određen role -->
            {% if role == "112 Dispatcher" %}
                {% for name, link in [("Actions", "actions.view_actions"), ("Map", "view.viewmap")]%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for(link)}}">{{ name }}</a>
                </li>
                {% endfor %}
            {% endif %}

            <!-- Dodatne opcije za Spasioce - prikaz zahtjeva -->
            {% if role in ["Doctor", "Firefighter", "Policeman"] %}
                {% for name, link in [("Requests","act_request.show_requests"), ("Map", "view.viewmap")]%}
                        <a class="nav-link" href="{{ url_for(link)}}"> {{ name }} </a>
                {% endfor %}
            {% endif %}

            <!-- Dodatna opcija za voditelja stanice -->
            {% if idStanice %}
                {% for name, link in [("View My Station", "stations.viewStationID")]%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for(link, id=idStanice)}}">{{ name }}</a>
                </li>
                {% endfor %}
            {% endif %}

        </ul>
        <ul class="navbar-nav">
            <!-- Univerzalne opcije _desno_ za ulogirane korisnike -->
            {% if role %}
                {% for name, link in [("Sign out", "auth.signout")]%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for(link)}}">{{ name }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            <!-- Prijava i registracija -->
            {% if not role %}
                {% for name, link in [("Login", "auth.login"), ("Register", "auth.register")]%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for(link)}}">{{ name }}</a>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>
