{% block styles %}
            {{ bootstrap.load_css() }}
{% endblock %}
<div class="container-fluid">
      <div class="row h-75" style="margin-top:20vh">
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 border rounded shadow">
            <form method="POST">
              <div class="mb-3 pt-2">
                {{ form.spasioc.label(class="form-label")}}
                {{ form.spasioc(class="form-control")}}
              </div>
              <div class="mb-3 pt-2">
                {{ form.opis.label(class="form-label")}}
                {{ form.opis(class="form-control")}}
              </div>
              <div class="mb-3 form-check"></div>
                {% if error %}
                    {{ form.submit(class="btn btn-primary btn-block", disabled=True) }}
                {% else %}
                    {{ form.submit(class="btn btn-primary btn-block") }}
                {% endif %}

              <div class="form-text text-center text-danger">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </form>
</div>
        <div class="col-md-4 col-sm4 col-xs-12">
        <div class="row"></div>