{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="row h-75" style="margin-top:3vh">
<div class="col-md-4 col-sm-4 col-xs-12 ml-2"></div>
<div class="border rounded shadow w-25">
<form method="POST" enctype = "multipart/form-data">
{{ form.csrf_token }}
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
            {{ form.name.label(class="form-label")}}
            {{ form.name(class="form-control") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
            {{ form.surname.label(class="form-label")}}
            {{ form.surname(class="form-control") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
                {{ form.username.label(class="form-label")}}
                {{ form.username(class="form-control") }}
        </div>
    </div>
    {% if error %}
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 pt-4 text-center text-danger">
                {% for error in form.username.errors %}
                        {{ error }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
        </div>
    </div>
    {% if error %}
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 pt-4 text-center text-danger">
                {% for error in form.email.errors %}
                        {{ error }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 input-group">
                {{ form.phoneNumber.label(class="input-group-text") }}
                {{ form.phoneNumber(class="form-control mr-3") }}
        </div>
    </div>
    {% if error %}
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 pt-4 text-center text-danger">
                {% for error in form.phoneNumber.errors %}
                        {{ error }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
                {{ form.password.label(class="form-label")}}
                {{ form.password(class="form-control") }}
        </div>
    </div>
    {% if error %}
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 pt-4 text-center text-danger">
                {% for error in form.password.errors %}
                        {{ error }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 ">
                {{ form.passwordCheck.label(class="form-label")}}
                {{ form.passwordCheck(class="form-control") }}
        </div>
    </div>
    {% if error %}
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 pt-4 text-center text-danger">
                {% for error in form.passwordCheck.errors %}
                        {{ error }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 input-group">
                {{ form.role.label(class="input-group-text") }}
                {{ form.role(class="form-select") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
                {{ form.picture.label()}}
                {{ form.picture(class="form-control-file") }}
        </div>
    </div>
    {% if error %}
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3 pt-4">
                {% for error in form.picture.errors %}
                        {{ error }}
                {% endfor %}
        </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12 ml-2">
        <div class="mb-3 mt-2 ml-3">
                {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}