{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <table class="table">
        <thead>
            <tr>
            {% for col in ['ID', 'Username', 'First name', 'Last name', 'Tel', 'Email', 'Role', 'View'] %}
                <th scope="col">{{col}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.korisnickoIme}}</td>
                    <td>{{user.ime}}</td>
                    <td>{{user.prezime}}</td>
                    <td>{{user.brojMob}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.uloga}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="location.href='/user/view/{{user.id}}';">View</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
      {% for category, message in messages %}
      {% if category =="error" %}
        <div class="alert alert-danger alert-dismissable" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% else %}
        <div class="alert alert-success alert-dismissable" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    
{% endblock %}
