{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <table class="table">
        <thead>
            <tr>
            {% for col in ['Username', 'First name', 'Last name', 'Tel', 'Email', 'Role', 'Accept/Reject'] %}
                <th scope="col">{{col}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.korisnickoIme}}</td>
                    <td>{{user.ime}}</td>
                    <td>{{user.prezime}}</td>
                    <td>{{user.brojMob}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.uloga}}</td>
                    <td style="display:flex">
                    <form action="{{url_for('applications.handle_application')}}" method="POST">
                        <button type="submit" class="btn btn-success mr-1" name="accept" value="{{user.korisnickoIme}}">Accept</button>
                    </form>
                    <form action="{{url_for('applications.handle_application')}}" method="POST">
                        <button type="submit" class="btn btn-danger" name="reject" value="{{user.korisnickoIme}}">Reject</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
