{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container fluid">
    <div class="h-75 w-75" style="margin-top: 3vh;">
        <div class="col-md-10 col-sm-8 col-xs-12 border rounded shadow">
            <h2>Change user data</h2>
            <form method="POST" enctype = "multipart/form-data">
                {{ form.csrf_token }}        
                    <div class="row">
                        {{ form.korisnickoIme.label(class="form-label col-3")}} <br>
                        {{ form.korisnickoIme(disabled = is_not_admin, class="flow-control col-8") }} 
                    </div>
                    <br>
                    <div class="row">
                        {{ form.ime.label(class="form-label col-3") }} <br>
                        {{ form.ime(disabled = is_not_admin, class="flow-control col-8") }} <br>
                    </div>
                    <br>
                    <div class="row">
                        {{ form.prezime.label(class="form-label col-3")}} <br>
                        {{ form.prezime(disabled = is_not_admin, class="flow-control col-8") }}
                    </div>
                    <br>
                    <div class="row ">
                        {{ form.brojMob.label(class="form-label col-3") }} <br>
                        {{ form.brojMob(disabled = is_not_admin, class="flow-control col-8") }}
                        {% for error in form.brojMob.errors %}
                        {{error}}
                        {% endfor %}<br>
                    </div>
                    <br>
                    <div class="row ">
                        {{ form.email.label(class="form-label col-3") }} <br>
                        {{ form.email(disabled = is_not_admin, class="flow-control col-8") }}
                        {% for error in form.email.errors %}
                        {{error}}
                        {% endfor %}<br>
                    </div>
                    <br>
                    <div class="row ">
                        {{ form.uloga.label(class="form-label col-3")}} <br>
                        {{ form.uloga(disabled = is_not_admin, class="flow-control col-4") }}<br>
                    </div>
                    <br>
                    <div class="row ">
                        {{ form.fotografija.label(class="form-label col-3") }} <br>
                        {{ form.fotografija(disabled = is_not_admin, class="flow-control col-8") }} <br>
                    </div>
                    <br>
                    <div class="row ">
                        {{ form.stanica.label(class="form-label col-3") }} <br>
                        {{ form.stanica(disabled = is_not_admin, class="flow-control col-4") }}
                    </div>
                    <br>
                    <div class="row ">
                        {{ form.lozinka.label(class="form-label col-3") }} <br>
                        {{ form.lozinka(disabled = is_not_admin, class="flow-control col-8") }} <br>
                    </div>
                    <br>
                    <div class="row">

                        {{ form.lozinkaProvjera.label(class="form-label col-3") }} <br>
                        {{ form.lozinkaProvjera(disabled = is_not_admin, class="flow-control col-8") }}
                    </div>
                    <br>
                    <div class="form-group ">
                        {{ form.submit(disabled = is_not_admin, class="flow-control btn btn-primary") }}
                    </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
