{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div>
        <table class="table" style="width:50%;margin:auto">
        <tr>
            <th>Name:</th>
            <td>{{station.imeStanice}}</td>
        </tr>

        <tr>
            <th>Location:</th>
            <td>{{station.lokacija}}</td>
        </tr>

        <tr>
            <th>Type:</th>
            <td>{{station.tipStanice}}</td>
        </tr>

        <tr>
            <th>Leader name:</th>
            <td>{{leader.ime}} {{leader.prezime}}</td>
        </tr>

        <tr>
            <th>Leader email:</th>
            <td>{{leader.email}}</td>
        </tr>

        <tr>
            <th>Leader phone:</th>
            <td>{{leader.brojMob}}</td>
        </tr>

        <tr>
            <th>Leader role:</th>
            <td>{{leader.uloga}}</td>
        </tr>
        </table>
    </div>

    <div style="margin-top:3%;">
        <div class="form-text text-center text-danger">
            {% if error %}
                {{ error }}
            {% endif %}
        </div>
        <table class="table" style="width:50%;margin:auto;">
            <tr>
                <th>Rescuers</th>
                <th>Role</th>
                <th>Ability</th>
                <th>
                    <button type="button" class="btn btn-primary"
                            onclick="location.href='/station/view/{{station.sifStanice}}/new-rescuer';">New rescuer</button>
                </th>
            </tr>


            {% for rescuer in rescuers %}
                <tr>
                    <td>{{ rescuer.korisnik.ime }} {{ rescuer.korisnik.prezime }}</td>
                    <td>{{ rescuer.korisnik.uloga }} </td>
                    <td>{{ rescuer.sposobnost }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary"
                                onclick="location.href='/station/view/{{station.sifStanice}}/add-ability/{{rescuer.korisnik.id}}/{{rescuer.korisnik.uloga}}';">Set ability</button>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}