{% extends "base.html" %}


{% block content %}
    {{ super() }}

    <div class="row align-items-center">
        <div class="col-1 ">

        </div>
        <div class="col-10">
            {% if not error %}
                {{ map }}
            {% endif %}
        </div>

    </div>
    <div class="form-text text-center text-danger">
    {% if error %}
        {{ error }}
    {% endif %}
    </div>

{% endblock %}