{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <table class="table">
        <thead>
            <tr>
            {% for col in ['Name', 'Location', 'Type', 'Leader', 'View'] %}
                <th scope="col">{{col}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(0,data |length) %}
                <tr>
                    <td>{{data[i].imeStanice}}</td>
                    <td>{{data[i].lokacija}}</td>
                    <td>{{data[i].tipStanice}}</td>
                    <td>{{voditelji[i].ime}} {{voditelji[i].prezime}} ({{voditelji[i].email}})</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="location.href='/station/view/{{data[i].sifStanice}}';">View</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}