{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="row h-75" style="margin-top:20vh">
<div class="col-md-4 col-sm-4 col-xs-12"></div>
<div class="border rounded shadow w-25">
<form method="POST">
{{ form.csrf_token }}
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3">
                {{ form.sposobnost.label(class="form-label") }}
                {{ form.sposobnost(class="form-control") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3 input-group">
                {{ form.stanica.label(class="input-group-text") }}
                {{ form.stanica(class="form-select") }}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-sm-4 col-xs-12">
        <div class="mb-3 mt-3 ml-3">
                {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </div>
  </div>
  <div class="form-text text-center text-danger">
		{% if error %}
            {{ error }}
        {% endif %}
    </div>
</form>
</div>
</div>

{% endblock %}